<!-- <form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value=" <%=form_authenticity_token%> ">

  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">

  <label for="email">E-mail</label>
  <input type="email" name="user[email]" id="email">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <button type="submit">Create</button>
</form> -->

<%= form_with(model: @user) do |f| %>
<div>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: "3 to 15 characters" %>
  <% @user.errors.full_messages_for(:username).each do |m| %>
  <div><%= m %>  </div>
  <% end %>
</div>

<div>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <% @user.errors.full_messages_for(:email).each do |m| %>
  <div><%= m %>  </div>
  <% end %>
</div>

<div>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "8 - 10 characters" %>
  <% @user.errors.full_messages_for(:password).each do |m| %>
  <div><%= m %>  </div>
  <% end %>
</div>
<div>
  <%= f.submit "Create" %>
  <% end %>
</div>